<a href="https://colab.research.google.com/github/gwanu260/T_academy/blob/main/2_%EB%AC%B8%EB%B2%95%EA%B3%B5%ED%86%B5_%ED%83%80%EC%9E%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 문법 공통

## 주석

- 명칭
  - 코멘트, comment
  - 코드에 관한 설명, 개발자의 멘트
  - 주석작성 -> ai가 해석 -> 코드를 추천(통상 ai 코파일럿 지원 에디터 특징)
  - 메타 정보 기술
    - 작성자, 작성일, 이메일, 사용법, 목적
    - 개발완료후 => 문서 작성에 활용 (향후 자동화 처리 스웨거등 사용)

- 문법
  ```
  # 1줄 주석

    '''
      여러줄 주석.
      여러줄 문자열 표현하는 방식
      - 함수, 클레스 내부 첫줄에 표기 자동 팝업 표시되는 주석으로 처리됨
    '''

    """
      위와 동일함
    """

  ```

In [ ]:
# 함수 내부 주석 샘플
def add ( x, y ):
  """
    더하기 함수
      - x : 첫번째 입력값
      - y : 두번째 입력값
    returns
      - x + y 더한 값을 반환
  """

  return x + y

# 함수명 까지 작성하면 자동 출팁이 구동됨.
add()

SyntaxError: invalid syntax (ipython-input-1636824299.py, line 3)

In [ ]:
# 코멘트, 코드에 영향 X, 코드작성시 같이 구성하는 것은 습관화 중요

## 변수

- 목적
  - 데이터를 담는 그릇 (기초적 해석)
  - 데이터를 가르키는 참조값을 가진 그릇

- 특징
  - 변수가 가진(참조하는) 데이터는 변경(다른값으로 대체)될 수 있다.
    - 유형 => 모두 문제 없음
      - 1 -> 2
        - 정수값에서 정수값으로 변경(동일타입)
      - 1 -> "Hi"
        - 정수값에서 문자열으로 변경(다른타입)
  
  - 변수에는 기존값에서 어떤 타입으로도 변경 가능함.!! => 예약어 주의!!

In [ ]:
# 1이라는 값을 a라는 변수(그릇)에 담았다(초보적해석)
# a라는 변수는 1이라는 값(메모리상 어딘가 존재함)을 가르킨다(참조한다) : 정확한해석
a = 1

a
#파이썬의 모든 구성은 객체로 구성되어있다. => 변수명. => 자동완성뜨면 확인됨

In [ ]:
# a는 이제부터 2를 가르킨다(참조)
a = 2

a

2

In [ ]:
a = 10

print( a, type(a) ) # a값, a의 타입 출력


a = 'hello'

print( a, type(a) ) # a값, a의 타입 출력

10 <class 'int'>
hello <class 'str'>

- 결론
  - 파이썬의 변수의 타입은 값이 세팅될때 결정된다.
  - **타입 추론형**
    - python, javascript... <-> c/c++/java, typescript, .. : 변수 선언시 타입결정

  - 참고
    ```
      # 파이썬
      a = 1

      # JS
      var a = 1
      let a = 1

      # java
      int a = 1
      ```

## 상수

- 변수의 반대 개념, 고정값
  - 파이썬 상수 x
- 상수처럼 사용
  - 변수명을 대문자 표기 (관습적 표현)
  - 의미론적임, 실제는 변수임
  - 용도
    - 환경변수, 학습시 고정값

In [ ]:
PI = 3.14
MAX_POOL_SIZE = 4

## 리터럴

- 타입의 기본값(시그니처 표현)
- 숫자 리터럴
  - 0(10진수), 0b(2진수), 0o(8진수), 0x(16진수)
- 문자열 리터럴
  - '', "", ''' ... ''', """ ... """
- 불린 리터럴
  - True, False
- 특수 리터럴
  - None, NaN
- 컬렉션 리터럴
  - list, dict, tuple, set
  - [],   {},   (,),   {}

- 위의 모든 리터럴중 True를 제외한 모든 값은 조건식으로 단독 사용시 무조건 False로 해석

## 네이밍컨벤션

- 관습(절대적 규칙은 아님)
- 이름 짓는 규칙
- 대상
  - 변수명, 함수명, 클레스명
- 스타일
  - **스네이크 케이스**
    - 파이썬
    - 단어간 **_(언더스코어 or 언더바)**로 연결
    - your_name
    - 소문자로 나열후 _ 로 연결
  - 카멜 표기법 (참고용)
    - 자바
    - 첫글자 소문자, 이어지는 단어의 첫글자 대문자, 나머지는 모두 소문자
    - yourName
    - 파이썬의 클레스명은 관습을 따름(대체적)

- 이름 구성
  - 첫글자
    - 알파벳(각국 문자 OK), _만(특수표현시) 사용가능
    사용가능
    - 두번째 문자
      - 숫자 추가됨
    - 특수문자는 배제(안되는 것이 대부분)

In [ ]:
a = 1
_ = 2
a10 = 3

#1a = 100

## statement(표현식) 끝표식

- 완전한 코드 한줄이 완성되면 표현하는 표식
  - 다른 언어들은 통상 ```;``` 를 붙임
  - 파이썬은 생략 OK, 사용 OK
    - 통상적으로는 생략
    - 한줄에 여러개의 statement가 존재하면 구분용으로 사용

In [ ]:
print(1);print(2);print(3)

1
2
3

# 단일 데이터형

## 수치형

### 정수형 : int(타입명)

- ... -1, 0, 1, ...
- 값의 간격(step)은 1
- 데이터 예시
  - 나이, 리뷰평점( 1 ~ 5 )

In [ ]:
# 변수명은 가급적 의미 있게 묘사
# 수치값은 10진수 활용(해석하기 쉽게, 특수상황에서는 진법 활용)
age = 100
age

In [ ]:
# 진법 예시
a1 = 0b1010101010 # 2진법, 0과 1로만 모든수를 표현
a2 = 0o512 # 8진법 0과 7로만 표현
a3 = 0xff # 16진법 0과 9, a ~ f를 활용하여 수를 표현

a1, a2 , a3

(682, 330, 255)

### 부동소수 : float(타입명)

- ... 0.0 ...
- 값과 값사이의 간격 : 무한대의 수 존재, 연속형
- 데이터 예시
  - 키, 몸무게, ...

In [ ]:
# 기본 표현
a = 1.1 # 정수부, 소수부 구성

a, type(a)

(1.1, float)

###복소수(생략)

### 기타(번외)

In [ ]:
# 변수를 나열하면 반대쪽에도 같은수로 배치
# 여러개의 변수를 한번에 초기화 가능함
a, b, c = 10, 11, 12

a, b, c

(10, 11, 12)

In [ ]:
# 위코드와 아래 코드는 같음 => 수를 나열하면 튜플로 묶음(단순 묶기)
# 값을 순서대로 분해하여 순서대로 초기화함
# 아래 표현 말고, 함수의 return 뒤에서도 동일하게 작동됨
a, b, c = {10, 11, 12}

a, b, c

In [ ]:
# a 는 10을 받고, 나머지 11, 12는 필요 없다, 이런상황이라면
# _ 변수명 활용 => 받고 버리기 용도
# 3개의 값이 무조건 오른쪽에 배치된다면(통상 함수일때)
a, _, _ = 10, 11, 12

a

10

In [ ]:
_, b, _ = 10, 11, 12

a

10

In [ ]:
# 일반적인 연산 확인
a = 1
b = 2

# 더하기, 빼기, 곱하기, 나누기(결과물이 float), 나머지, 몫
a + b, a - b, a * b, a / b, a % b, a // b

(3, -1, 2, 0.5, 1, 0)

In [ ]:
4/2, 4%3, 4//2

(2.0, 1, 2)

## 문자열

- 자연어 데이터
  - 자연어 => 가공절차(토큰화, 인코딩과정) => 수치로 표현(AI관점)
- 단일 데이터형이면서 연속 데이터 형(컬렉션)
- 텍스트 데이터, 로그, ...
- 수정불가(문자열 타입으로 할당된 이후)
  - 원본수정 x
  - 원본카피 -> 수정 -> 새로할당 : 이런 과정으로 제공
- 기호
  - 한줄
    ```
      " ... "
      ' ... '
    ```
  - 여러줄 : 주석, 구조유지, 여러줄원본, LMM사용시 프롬프트엔지니어링(제로샷, 원샷, 퓨삿)때 사용
    ```
      '''
        ...
      '''
      or (아래는 예시)
      """
        select *
        from users
        where uid='k' and upw='1234'
      """
    ```

### 기본다루기

In [ ]:
# 한줄 문자열
a = 'abcd ABCD 1234 !@#$ 가나다라'

a , type(a)

'abcd ABCD 1234 !@#$ 가나다라'

In [ ]:
## 여러줄 문자열
a = """
    select *
    from users
    where uid='k' and upw='1234'
"""
print ( a, type(a) )

    select *
    from users
    where uid='k' and upw='1234'
 <class 'str'>

## 불린형

## 바이트형(생략)

# 컬렉션 유형